<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusiotec.servicecenterapi.servicecenter">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".manager.ServiceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.NewJobOrderActivity"
            android:label="New Job Order"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.JobOrderListActivity"
            android:label="Job Order List"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.DiagnosisActivity"
            android:label="Diagnosis"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ShippingActivity"
            android:label="Shipping"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ViewJobOrderActivity"
            android:label="Job Order"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.RepairStatusActivity"
            android:label="Repair Status"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ForReturnActivity"
            android:label="For Return"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ForPickUpActivity"
            android:label="For Pick Up"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ClosedActivity"
            android:label="Close Job Order"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CustomerListActivity"
            android:label="Customers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.CustomerInfoActivity"
            android:label="Customers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.AccountListActivity"
            android:label="Accounts"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.RegistrationActivity"
            android:label="Registration"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.RegisterBranchActivity"
            android:label="Register Branch"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.BranchListActivity"
            android:label="Register Branch"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.AdminListActivity"
            android:label="Admins"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="Change Password"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
